.footer {
  margin: 67px auto 60px;
  width: 100%;
  min-width: 282px;
  max-width: 880px;
}

@media screen and (max-width: 917px) {
  .footer {
    margin: calc(48px + 19 * (100vw - 320px) / 597) 19px calc(36px + 24 * (100vw - 320px) / 597);
    width: calc(100vw - 38px);
  }
}